.home-main {
    padding-left: 428px;
    background: url("/public/images/home-main-bg.png") no-repeat;
}

.home-main-title {
    padding-left: 47px;
    background: url("/public/images/home-main-icon.png") no-repeat;
    background-position: 0;
    font-weight: 700;
    font-size: 55px;
    color: #000000;
}

.home-main-subtitle {
    margin-left: 44px;
    font-weight: 300;
    font-size: 55px;
    color: #000000;
}

.home-main-desc {
    margin-left: 44px;
    width: 561px;
    margin-top: 28px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.home-main-btn {
    width: 220px;
    margin-top: 23px;
    margin-left: 44px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #E74E13;
    border: 1px solid #E74E13;
    border-radius: 90px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.home-info {
    margin-top: 108px;
    margin-left: 286px;
    margin-right: 286px;
}

.home-info-title {
    margin-bottom: 25px;
    padding-left: 46px;
    background: url("/public/images/home-main-icon.png") no-repeat;
    background-position: 0;
    font-weight: 700;
    font-size: 45px;
    color: #000000;
}

.home-info-text {
    width: 540px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.home-info-text:nth-child(5) {
    margin-bottom: 0;
}

.home-info-text span {
    font-weight: 700;
    color: #1E6140;
}

.home-info-btn {
    width: 220px;
    margin-top: 37px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #E74E13;
    border: 1px solid #E74E13;
    border-radius: 90px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.home-new {
    margin-top: 108px;
    margin-left: 255px;
    margin-right: 255px;
}

.home-new-caption {
    gap: 17px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 0;
}

.home-new-title {
    font-weight: 700;
    font-size: 45px;
    color: #000000;
}

.home-new-box {
    margin-top: 39px;
    gap: 80px;
}

.home-new-content {
    gap: 30px;
}

.home-new-pages,
.home-promotions-pages {
    align-items: flex-end;
    width: fit-content;
    margin: 50px auto;
    margin-bottom: 0;
    gap: 10px;
}

.new-pages-item {
    width: 6px;
    height: 16px;
    background-color: rgba(141, 50, 0, 0.1);
    border: 1px solid rgba(141, 50, 0, 0.1);
    border-radius: 20px;
}

.pages-item__active {
    width: 6px;
    height: 30px;
    background-color: #8D3200;
    border: 1px solid #8D3200;
    border-radius: 20px;
}

.home-promotions {
    margin-top: 120px;
    padding-top: 112px;
    padding-bottom: 117px;
    padding-left: 255px;
    padding-right: 255px;
    background-color: #1E6140;
}

.home-promotions-caption {
    gap: 12px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 0;
}

.home-promotions-title {
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
}

.promotions-pages-item {
    width: 6px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.home-promotions-pages .pages-item__active {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.home-promotions-btn {
    display: block;
    width: 220px;
    margin: 40px auto;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #E74E13;
    border: 1px solid #E74E13;
    border-radius: 90px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.home-partners {
    margin-top: 108px;
}

.home-partners-caption {
    gap: 17px;
    width: fit-content;
    margin: 0 auto;
}

.home-partners-title {
    font-weight: 700;
    font-size: 45px;
    color: #000000;
}

.home-partners-box {
    margin-top: 39px;
}

.home-partners-pages {
    align-items: flex-end;
    gap: 10px;
    width: fit-content;
    margin: 40px auto;
    margin-bottom: 0;
}

.partners-pages-item {
    width: 6px;
    height: 16px;
    background-color: rgba(141, 50, 0, 0.2);
    border: 1px solid rgba(141, 50, 0, 0.2);
    border-radius: 20px;
}

.home-partners-pages .pages-item__active {
    background-color: #8D3200;
    border: 1px solid #8D3200;
}

.home-seeds {
    margin-top: 115px;
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 405px;
    padding-right: 405px;
    background: url("/public/images/seeds-bg.png") no-repeat;
}

.home-seeds-caption {
    gap: 17px;
}

.home-seeds-title {
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
}

.home-seeds-text {
    margin-top: 16px;
    font-size: 16px;
    color: #FFFFFF;
}