* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}